In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import  sqlalchemy
import psycopg2

In [3]:
conn = sqlalchemy.create_engine('postgresql://postgres:ab534@localhost:5432/Bike Data Store')

# Exploratory Data Analysis

In [15]:
brand_inventory = pd.read_sql_query("""select b.brand_name ,sum (s.quantity) as stock , count(o.order_id) as orders
from brands b
join products p 
on p.brand_id = b.brand_id
join order_items oi
on oi.product_id = p.product_id
join orders o
on o.order_id = oi.order_id
join stocks s
on s.store_id = o.store_id
group by  b.brand_name """,conn)



brand_inventory

     brand_name    stock  orders
0  Sun Bicycles  2146911  151805
1       Ritchey   340839   24101
2       Electra  7650651  541177
3          Haro   972334   68860
4          Trek  5465137  386555
5         Surly  2677688  189365
6   Pure Cycles  1140498   80754
7        Heller   428113   30361
8       Strider    71046    5008

In [8]:
product_inventory = pd.read_sql_query("""select p.product_name , sum(s.quantity) as stock , count(oi.order_id) as orders
from products p 
join order_items oi
on oi.product_id = p.product_id
join orders o
on o.order_id = oi.order_id
join stocks s
on s.store_id = o.store_id
group by  p.product_name""",conn)



product_inventory

                                       product_name   stock  orders
0                            Trek Kids' Neko - 2018   13250     939
1                     Trek Domane ALR 4 Disc - 2018    8718     626
2                     Electra Superbolt 1 20 - 2018    4532     313
3    Sun Bicycles Boardwalk (24-inch Wheels) - 2017   70870    5008
4                    Trek Powerfly 5 Women's - 2018   13511     939
..                                              ...     ...     ...
273                   Trek Super Commuter+ 7 - 2018   22314    1565
274                 Sun Bicycles Streamway 3 - 2017  123615    8764
275                               Trek Neko+ - 2018    8891     626
276             Electra Cruiser 7D - 2016/2017/2018    4532     313
277                         Strider Sport 16 - 2018   13250     939

[278 rows x 3 columns]

In [8]:
customer_segment = pd.read_sql_query("""
select c.first_name, c.last_name, c.city , s.store_name , p.list_price , b.brand_name , p.product_name
from customers c
join orders o
on o.customer_id = c.customer_id
join order_items oi
on oi.order_id = o.order_id
join products p
on p.product_id = oi.product_id
join stores s
on s.store_id = o.store_id
join brands b
on p.brand_id = b.brand_id
group by c.first_name, c.last_name, c.city , s.store_name , p.list_price , b.brand_name , p.product_name
order by p.list_price desc""",conn)

customer_segment

,first_name,last_name,city,store_name,list_price,brand_name,product_name
0,Fran,Yang,Utica,Baldwin Bikes,11999.99,Trek,Trek Domane SLR 9 Disc - 2018
1,Pamelia,Newman,Monroe,Baldwin Bikes,11999.99,Trek,Trek Domane SLR 9 Disc - 2018
2,Shena,Carter,Howard Beach,Baldwin Bikes,11999.99,Trek,Trek Domane SLR 9 Disc - 2018
3,Abby,Gamble,Amityville,Baldwin Bikes,7499.99,Trek,Trek Domane SLR 8 Disc - 2018
4,Jerlene,Rios,Plainview,Baldwin Bikes,7499.99,Trek,Trek Domane SLR 8 Disc - 2018
...,...,...,...,...,...,...,...
4669,Lavina,Dejesus,Newburgh,Baldwin Bikes,89.99,Strider,Strider Classic 12 Balance Bike - 2018
4670,Lorrie,Becker,Garland,Rowlett Bikes,89.99,Strider,Strider Classic 12 Balance Bike - 2018
4671,Louise,Flowers,Depew,Baldwin Bikes,89.99,Strider,Strider Classic 12 Balance Bike - 2018
4672,Nubia,Anderson,Ronkonkoma,Baldwin Bikes,89.99,Strider,Strider Classic 12 Balance Bike - 2018
4673,Sarita,Parks,Forney,Rowlett Bikes,89.99,Strider,Strider Classic 12 Balance Bike - 2018

In [9]:
category_counts = pd.read_sql_query("""select c.category_name , count(oi.order_id) as total_orders
from categories c
join products p
on p.category_id = c.category_id
join order_items oi 
on oi.product_id = p.product_id
group by c.category_name 
order by 2 desc""",conn)
category_counts

         category_name  total_orders
0    Cruisers Bicycles          1378
1       Mountain Bikes          1183
2    Children Bicycles           782
3     Comfort Bicycles           537
4           Road Bikes           374
5  Cyclocross Bicycles           256
6       Electric Bikes           212

In [22]:
low_order_high_stock = pd.read_sql_query("""WITH low_orders AS (
    SELECT 
        p.product_name, 
        s.quantity, 
        COUNT(o.order_id) AS orders
    FROM stocks s
    JOIN products p ON p.product_id = s.product_id
    JOIN order_items o ON o.product_id = p.product_id
    GROUP BY p.product_name, s.quantity
),
ranked_products AS (
    SELECT *,
        DENSE_RANK() OVER (ORDER BY orders ASC, quantity DESC) AS low_order_high_stock_rank,
        CASE 
            WHEN orders < (SELECT AVG(orders) FROM low_orders)
                 AND quantity > (SELECT AVG(quantity) FROM low_orders)
            THEN 'Low Order & High Stock'
            ELSE 'Normal'
        END AS stock_status
    FROM low_orders
)

SELECT *
FROM ranked_products
ORDER BY low_order_high_stock_rank
limit 15;""",conn)

In [23]:
low_order_high_stock

,product_name,quantity,orders,low_order_high_stock_rank,stock_status
0,Electra Townie Commute 27D - 2018,30,1,1,Low Order & High Stock
1,Trek Powerfly 5 FS - 2018,30,1,1,Low Order & High Stock
2,Electra Cruiser 1 Tall - 2016/2018,30,1,1,Low Order & High Stock
3,Trek MT 201 - 2018,29,1,2,Low Order & High Stock
4,Electra Townie Balloon 8D EQ Ladies' - 2016/20...,29,1,2,Low Order & High Stock
5,Electra Townie Original 21D - 2018,29,1,2,Low Order & High Stock
6,Electra Superbolt 3i 20 - 2018,29,1,2,Low Order & High Stock
7,Trek Powerfly 5 - 2018,29,1,2,Low Order & High Stock
8,Trek Precaliber 20 6-speed Girl's - 2018,28,1,3,Low Order & High Stock
9,Trek Domane SL Frameset Women's - 2018,28,1,3,Low Order & High Stock
10,Electra Townie Balloon 8D EQ Ladies' - 2016/20...,28,1,3,Low Order & High Stock
11,Surly ECR Frameset - 2018,28,1,3,Low Order & High Stock
12,Electra Cruiser 7D - 2016/2017/2018,27,1,4,Low Order & High Stock
13,Trek Powerfly 5 - 2018,27,1,4,Low Order & High Stock
14,Trek Domane SLR Disc Frameset - 2018,26,1,5,Low Order & High Stock

In [17]:
high_order_low_stock = pd.read_sql_query("""WITH low_orders AS (
    SELECT 
        p.product_name, 
        s.quantity, 
        COUNT(o.order_id) AS orders
    FROM stocks s
    JOIN products p ON p.product_id = s.product_id
    JOIN order_items o ON o.product_id = p.product_id
    GROUP BY p.product_name, s.quantity
),
ranked_products AS (
    SELECT *,
        DENSE_RANK() OVER (ORDER BY orders DESC, quantity ASC) AS high_order_low_stock_rank,
        CASE 
            WHEN orders > (SELECT AVG(orders) FROM low_orders)
                 AND quantity < (SELECT AVG(quantity) FROM low_orders)
            THEN 'High Order & Low Stock'
            ELSE 'Normal'
        END AS stock_status
    FROM low_orders
)

SELECT *
FROM ranked_products
ORDER BY high_order_low_stock_rank
limit 15;""",conn)

high_order_low_stock

,product_name,quantity,orders,high_order_low_stock_rank,stock_status
0,Trek Slash 8 27.5 - 2016,8,202,1,High Order & Low Stock
1,Electra Townie Original 21D - 2016,16,193,2,Normal
2,Surly Ice Cream Truck Frameset - 2016,0,110,3,High Order & Low Stock
3,Surly Ice Cream Truck Frameset - 2016,11,110,4,High Order & Low Stock
4,Surly Ice Cream Truck Frameset - 2016,27,110,5,Normal
5,Electra Townie Original 21D - 2016,2,104,6,High Order & Low Stock
6,Electra Townie Original 21D - 2016,30,104,7,Normal
7,Electra Cruiser 1 (24-Inch) - 2016,1,103,8,High Order & Low Stock
8,Electra Cruiser 1 (24-Inch) - 2016,13,103,9,High Order & Low Stock
9,Electra Cruiser 1 (24-Inch) - 2016,19,103,10,Normal
10,Trek Conduit+ - 2016,11,101,11,High Order & Low Stock
11,Trek Slash 8 27.5 - 2016,12,101,12,High Order & Low Stock
12,Trek Conduit+ - 2016,17,101,13,Normal
13,Trek Conduit+ - 2016,23,101,14,Normal
14,Electra Girl's Hawaii 1 (20-inch) - 2015/2016,8,100,15,High Order & Low Stock

In [3]:
expensive = pd.read_sql_query("""with price_order as(
select p.product_name , p.list_price , count(o.order_id) as total_orders 
from products p
join order_items o 
on o.product_id = p.product_id
group by 1,2
)

select * 
from price_order
where list_price > 3000
order by list_price desc

limit 15""",conn)

expensive

                              product_name  list_price  total_orders
0            Trek Domane SLR 9 Disc - 2018    11999.99             3
1            Trek Domane SLR 8 Disc - 2018     7499.99             3
2           Trek Domane SL Frameset - 2018     6499.99             3
3                 Trek Emonda SLR 8 - 2018     6499.99             2
4         Trek Silque SLR 8 Women's - 2017     6499.99            19
5   Trek Domane SL Frameset Women's - 2018     6499.99             1
6         Trek Silque SLR 7 Women's - 2017     5999.99            20
7            Trek Domane SLR 6 Disc - 2017     5499.99            28
8             Trek Domane SL 8 Disc - 2018     5499.99             3
9            Trek Domane SLR 6 Disc - 2018     5499.99             1
10       Trek Fuel EX 9.8 27.5 Plus - 2017     5299.99            25
11                  Trek Remedy 9.8 - 2017     5299.99            14
12          Trek Powerfly 8 FS Plus - 2017     4999.99            25
13              Trek Fuel EX 9.8 29 - 2017     4999.99            21
14             Trek Remedy 9.8 27.5 - 2018     4999.99             2

In [7]:
cheapest = pd.read_sql_query("""with price_order as(
select p.product_name , p.list_price , count(o.order_id) as total_orders 
from products p
join order_items o 
on o.product_id = p.product_id
group by 1,2
)

select * 
from price_order
where list_price < 3000 
order by list_price desc 
limit 15""",conn)

cheapest

                                 product_name  list_price  total_orders
0   Electra Townie Commute Go! Ladies' - 2018     2999.99             8
1                        Trek Conduit+ - 2016     2999.99           101
2                 Trek Crockett 7 Disc - 2018     2999.99             3
3           Electra Townie Commute Go! - 2018     2999.99            10
4                Trek Emonda SL 6 Disc - 2018     2999.99             2
5                   Trek Remedy 7 27.5 - 2018     2999.99             4
6                    Trek Fuel EX 8 29 - 2016     2899.99            97
7                     Trek Dual Sport+ - 2018     2799.99             3
8                  Electra Loft Go! 8i - 2018     2799.99             3
9                        Trek Conduit+ - 2018     2799.99             4
10                  Trek Lift+ Lowstep - 2018     2799.99             1
11                          Trek Neko+ - 2018     2799.99             2
12                          Trek Lift+ - 2018     2799.99             3
13                     Trek Domane S 6 - 2017     2699.99            26
14          Electra Townie Go! 8i - 2017/2018     2599.99             3